<h1>Add new company</h1>

<%= form_for :companies do |f| %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :startyear %><br />
		<%= f.text_field :endyear %><br />
		<%= f.label :endyear %><br />
		<%= f.text_field :endyear %>
	</p>
	
	<p>
		<%= f.label :text %><br />
		<%= f.text_field :text %>
	</p>
<% end %>
	
	
