<h1>Add new Company</h1>
<% form_for :company do |f| %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :startyear %><br />
		<%= f.text_field :startyear %><br />
	</p>
	
	<p>
		<%= f.label :endyear %><br />
		<%= f.text_field :endyear %><br />
	</p>
	
	<p>
		<%= f.label :text %><br />
		<%= f.text_field :text %><br />
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>	