<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Startyear:</strong>
  <%= @company.startyear %>
</p>

<p>
  <strong>Endyear:</strong>
  <%= @company.endyear %>
</p>

<p>
  <strong>Text:</strong>
  <%= @company.text %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
